*{
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

/*header*/

header{
    background-color: grey;
    padding: 10px;
    margin-bottom: 4%;
}

.options > nav > ul{
    justify-content: space-between;
    display: flex;
    max-width: 80%;
}

.options > nav > ul > li{
    padding: 4px;    
    cursor: pointer;
    
}

.options > nav > ul :hover {
    background-color: whitesmoke;
    border-radius: 7px;
}

/* End header*/

/*Main*/

main{
    background-color: whitesmoke;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.TITLE{
    text-align: center;
}

.word{
    font-size: 20px;
    margin-bottom: 2px;
}

.code{
    background-color: white;
    padding: 5% 5% 5% 5%;
    max-width: 30%;
}

.example{
    background-color: white;
    padding: 5% 5% 5% 5%;
    max-width: 30%;
}

/*.example > div > p{
    
    
}*/

/*footer*/

footer{
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: grey;
}